%h1 #{@business.short_name}
#options

  //Information
  -if current_uri = request.env['PATH_INFO'] == business_path(@business)
    %span.selected
      Informação
  -else
    %span
      =link_to "Informação", business_path(@business)
  
  //Working time
  -if current_uri = request.env['PATH_INFO'] == user_profile_path
    %span.selected
      Negócios registados 
  -else
    %span
      =link_to "Editar", edit_business_path(@business)

  //preferences
  -if current_uri = request.env['PATH_INFO'] == user_preferences_path
    %span.selected
      Preferênicas
  -else
    %span
      =link_to "Preferênicas", user_preferences_path
      
  //change passowd
  -if current_uri = request.env['PATH_INFO'] == user_change_password_path
    %span.selected
      Alterar password 
  -else
    %span
      =link_to "Alterar password", user_change_password_path

		
