=simple_form_for [@current_user, business] ,:remote=>true do |f|
  =render :partial=>"businesses/form", :locals=>{:f=>f, :editing=>true}
  /= f.error_messages
  = f.submit I18n.t "actions.update"
  = link_to I18n.t("actions.cancel"), business_admin_business_path(@current_user, business), :id=>"cancel_business_edit"
  