=f.input :full_name, :hint=>t("activerecord.hints.business.full_name")
=f.input :short_name, :hint=> (editing ? "": t("activerecord.hints.business.short_name")), :disabled=>editing
=f.input :description, :hint=>t("activerecord.hints.business.description")
=f.input :email, :hint=>t("activerecord.hints.business.email")
=f.input :address,:hint=>t("activerecord.hints.business.address")
=f.input :city, :hint=>t("activerecord.hints.business.city")
=f.input :postal_code, :hint=>t("activerecord.hints.generic.postal-code")
=f.input :phone, :hint=>t("activerecord.hints.business.phone")
=f.input :fax, :hint=>t("activerecord.hints.business.fax")
=f.input :url, :hint=>t("activerecord.hints.business.url")
=f.input :facebook, :hint=>t("activerecord.hints.business.facebook")
=f.input :twitter, :hint=>t("activerecord.hints.business.twitter")
