= title "Dashboard"

#full_content
  =render :partial=>"businesses/dashboard_menu"  
  #content
    -if @businesses.empty?
      %strong
        Ainda n찾o tem nenhum neg처cio registado. Pretende registar um novo novo neg처cio?
        =link_to "Sim, quero registar um novo neg처cio.", new_business_path

