= title "Registar novo neg처cio"
= more_stylesheets "forms"
= more_javascripts_files "businesses_functions"


#formContainer
  %h1 Registar novo neg처cio 

  %div.attention
    Todos os campos marcados com * s찾o obrigat처rios
  
  =simple_form_for @business do |f|
    =render :partial=>"businesses/form", :locals=>{:f=>f, :editing=>false}
    
    /= f.error_messages
 
    =f.input :terms_and_conditions, :as=>:boolean
    
    = f.submit I18n.t "activerecord.actions.business.create"
    =link_to "Cancelar", :back
    
