= title "Registar novo negócio"
= more_stylesheets "forms"
= more_javascripts_files "businesses_functions"


#form_wrapper
  %h1 Registar novo negócio
  %h2 Todos os campos marcados com * são obrigatórios
  #form_container
    =simple_form_for [@current_user.business_account, @business] do |f|
      =render :partial=>"businesses/form", :locals=>{:f=>f, :editing=>false}
      =f.input :terms_and_conditions, :as=>:boolean
      = f.submit I18n.t "activerecord.actions.business.create"
      =link_to t("actions.cancel"), business_dashboard_path, :class=>"link_as_button cancel_button"
  .help_float_box
    %h1
      Registar novo negócio
    %p
      Introduza a informação relativa ao seu negócio. 
    %p
      O campo 
      %strong Identificação
      vai se usado para....  
     
      
