= title "Administrador : "+@admin.full_name
= more_stylesheets "forms"

#full_content
  =render :partial=>"admin_dashboard_menu", :locals=>{:admin=>@admin}
  #content
    #admin_info.has_help_float_box
      =render :partial=>"admin", :object=>@admin
    -if !@admin.active
      .help_float_box
        %h1
          Administrador inactivo
        %p Este administrador ainda não activou a sua conta. 
        %p Pode enviar um email de activação agora.
        %p= link_to "Enviar um mail de activação",send_admin_activation_email_path(@current_user.business_account, @admin), :class=>"link_as_button", :remote=>true, :method=>:put
