body
  font: 100% arial,sans-serif
  margin: 0
  padding: 0
  background: transparent url(/images/bg.png) top repeat-x
  font-size: 1em
#root
  width: 100%
#header
  background: transparent url(/images/medibooking.logo.png) no-repeat
  height: 80px
  
#content
  
#footer
  text-align: center
  padding-top: 3em
  a
    font-size: 0.8em
  