body
  font: 100% arial,sans-serif
  margin: 0
  padding: 0
  background: transparent url(/images/bg.png) top repeat-x
  font-size: 0.9em
#root
  width: 100%
#header
  
  height: 80px
#logo 

#content
  
#footer
  text-align: center
  padding-top: 3em

   
div.attention
  font-size: 1.2em
  font-weight: bold
  padding-top: 5px
  padding-bottom: 5px
  color: #83B2ff
    
div.user_message
  font-size: 1em
  font-weight: normal
  padding: 10px
  background: orange
  
 
//Flash Messages

#floating_message_wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  width: auto
  height: 30px
  padding: 10px
  filter: alpha(opacity = 90)
  -moz-opacity: 0.9
  -khtml-opacity: 0.9
  opacity: 0.9
  #page_message
    width: 100%
    text-align: center
  #page_message_close
    float: right
    margin-top: -20px
    a
      color: #fff
      font-weight: normal
      font-size: 0.7em
      padding: 3px
      padding-left: 6px
      padding-right: 6px
      border: dashed 1px #fff
    a:hover
      background-color: #FFF
      color: #000
            
#floating_message_wrapper.error
  background-color: red
  color: #fff
    
#floating_message_wrapper.success
  background-color: green
  color: #fff
    
#floating_message_wrapper.warning
  background-color: #f5ea00
  color: #000
