$table_header_text_color: #000
$table_header_font_size: 0.8em
$table_border_color: #bbb

table.data_table
  thead
    background: #ccc
    
    tr
      td
        padding: 8px
        border-top: solid 1px $table_border_color
        border-left: solid 1px $table_border_color
      td.last_cell
        border-right: solid 1px $table_border_color
      span
        color: $table_header_text_color
        font-size: $table_header_font_size
      a
        color: $table_header_text_color
        text-decoration: none
        font-size: $table_header_font_size
    tr.title
     
      td
        border: none
        border-bottom: solid 2px #fff
        font-weight: bold
        color: #000
        background: #bbb
        padding: 3px
        margin-bottom: 3px
      td.actions
        text-align: right
        a
          font-size: 1em
          text-decoration: underline
  tr
    td
      padding: 8px
      border-top: solid 1px $table_border_color
      border-left: solid 1px $table_border_color
    td.last_cell
      border-right: solid 1px $table_border_color
  tr.last_row
    td
      border-bottom: solid 1px $table_border_color
  tr.last_row:hover, tr.middle_row:hover
    background-color: #DFFFE7