//forms within tables
//Mixins
@mixin input-base
  width: 220px
  padding: 0.2em  
  font-size: 1em
  border: solid 1px #ccc
  -moz-border-radius: 4px
  border-radius: 4px
  margin-top: 8px
@mixin textarea-base
  width: 230px
  height: 40px
@mixin base-submit
  width: auto
  margin-top: 15px
  padding: 4px
  padding-left: 6px
  padding-right: 6px

  
//Variables
$label-width: 180px
$error-color: #ff0000
$hint-color: #6f6f6f
$hint-error-font-size: 0.9em  

table.record
  padding: 10px
  td.label
    text-align: right
    width: $label-width
    font-weight: bold
    padding-top: 10px
    vertical-align: top
  td.value
    margin-left: 190px
    padding-top: 10px
    padding-left: 15px
    width: 340px
  td
    input
      @include input-base
    input[type='submit']
      @include base-submit
    input[type="button"]
      @include base-submit
  .field_with_errors
    input
      border: solid 1px red
    textarea
      border: solid 1px red
    
  .hint
    font-size: $hint-error-font-size
    color: $hint-color 
  .error
    font-size: $hint-error-font-size
    color: $error-color



#form_wrapper
  padding: 10px
  
  h1
    margin-bottom: 5px
    border-bottom: solid 1px #ccc
    font-size: 1.3em
  h2
    font-size: 1em
  #form_container
    float: left

form.simple_form
  padding: 1em
  
  
form.simple_form
  a
    padding-left: 10px
  label
    position: absolute 
    text-align: right
    width: $label-width
    font-weight: bold
    margin-top: 8px
       
  .hint, .error
    margin-left: 190px
    font-size: $hint-error-font-size
    color: $hint-color 

  .error
    color: $error-color
  
  input, textarea
    @include input-base
    margin-left: 190px
  input[type="submit"]
    @include base-submit
  textarea
    @include textarea-base 
    
  .boolean
    label
      width: auto
      font-weight: normal
    input[type="checkbox"]
      width: auto   
  .field_with_errors
    input
      border: solid 1px red
    textarea
      border: solid 1px red
	  
a.link_as_button, input[type='submit'], input[type='button']
  background-color: #ddd
  padding: 4px
  text-decoration: none
  padding-right: 8px
  padding-left: 8px
  border: solid 1px #ccc
  color: black
  -moz-border-radius: 4px
  border-radius: 4px
  cursor: pointer
  margin-right: 15px
  
a.link_as_button:hover, input[type='submit']:hover, input[type='button']:hover
  background-color: #A4DBEF
    
a.cancel_button
  color: #FF4F67
    
a.danger_button
  color: #FF4F67
  font-weight: bold
  
a.danger_button:hover
  background-color: #FF4F67
  color: #fff
  
a.action_add
  
  background: #ddd url("../images/plus-circle.png") no-repeat left
  padding-left: 20px !important
  
a.action_remove
  background: url("../images/minus-circle.png") no-repeat
  padding-left: 20px !important
  