
#infoEventsDebug
  =link_to "dump events", "", :id=>"dump_events"
  =link_to "show/hide dump zone", "", :id=>"hide_dump"
  #dumper_zone
#ccontainer
%script
  new WeekCalendar($("#ccontainer"));
  /calendar.render_week_view($("#ccontainer"));
