= title "Dashboard"
= more_stylesheets "forms"

#full_content
  =render :partial=>"dashboard_menu"
  #content
    
    -if @business_account.business.nil?
      %strong
        Ainda n찾o tem nenhum neg처cio registado. Pretende registar um novo novo neg처cio?
        =link_to "Sim, quero registar um novo neg처cio.", new_business_account_business_path(@business_account)
    -else
      =@business_account.business.full_name
      
    