%div.dashboard_header
  %div.title
    Dashboard


.context_horizontal_menu      
  .right_menu
    %ul
      %li
        =link_to "Os meus negócios", business_dashboard_path, :class=>(request.env['PATH_INFO'] == business_dashboard_path) ? "selected" : ""
      %li
        =link_to "Colaboradores", business_admin_staffers_path(@current_user), :class=>(request.env['PATH_INFO'] == business_admin_staffers_path(@current_user)) ? "selected" : ""


