%table.record
  %tr
    %td.label
      =t "activerecord.attributes.user.first_name" 
    %td.value
      =user.first_name
  %tr
    %td.label
      =t "activerecord.attributes.user.last_name" 
    %td.value
      =user.last_name
  %tr
    %td.label
      =t "activerecord.attributes.user.email" 
    %td.value
      =user.email

      %tr
    %td.label
      =t "activerecord.attributes.user.created_at" 
    %td.value
      =l user.created_at		
