=simple_form_for user, :url=>url do |f|
  =f.input :password, :label=>I18n.t("activerecord.attributes.user.password"), :required=>false
  =f.input :password_confirmation, :label=>I18n.t("activerecord.attributes.user.password_confirmation")
  =f.submit I18n.t label
  =link_to t("actions.cancel"), :back
