%div.dashboard_header
  %div.title
    A minha conta
  %div.options

.context_horizontal_menu
  .right_menu
    %ul
      -if @current_user.staffer?
        %li
          = link_to "Dashborad", staffer_dashboard_path(@current_user),  :class=>(request.env['PATH_INFO'] == staffer_dashboard_path(@current_user)) ? "selected" : ""
      %li 
        =link_to "Informação pessoal", user_profile_path, :class=>(request.env['PATH_INFO'] == user_profile_path) ? "selected" : ""
      %li
        =link_to "Preferênicas", user_preferences_path, :class=>(request.env['PATH_INFO'] == user_preferences_path) ? "selected" : ""
      -if @current_user.staffer?
        %li
          =link_to "Horário", staffer_availability_path(@current_user), :class=>(request.env['PATH_INFO'] == staffer_availability_path(@current_user)) ? "selected" : "" 
          
      -if @current_user.staffer?
        %li
          =link_to "Especialidades", staffer_specialities_path(@current_user), :class=>(request.env['PATH_INFO'] == staffer_specialities_path(@current_user)) ? "selected" : ""              
      %li
        =link_to "Alterar password", user_change_password_path, :class=>(request.env['PATH_INFO'] == user_change_password_path) ? "selected" : ""
        