= title "Alterar password"
= more_stylesheets "forms"
#full_content
  =render :partial=>"users/profile_menu"  
  #content
    //start partial to show basic user info
    #user_basic_info
      .div Introduza a nova password e a confirmação.
      =render :partial =>"users/change_password_form", :locals=>{:user=>@user, :url=>user_change_password_path, :label=>"activerecord.actions.user.change_password"}

