= title "Criar nova password"
= more_stylesheets "forms"



#formContainer
  %h1 Criar nova password 
  %div
    Está prestes a alterar a sua actual password. Foi-nos feito um pedido para que alterasse a sua password. Case não tenha feito este 
    pedido e sabe qual é a sua actual password, pode fazer autenticar-se 
    =link_to "aqui", new_session_path
    
    
  =simple_form_for @user, :url=>create_new_password_path do |f|
    =f.input :password, :label=>I18n.t("activerecord.attributes.user.email")
    =f.input :password_confirmation, :label=>I18n.t("activerecord.attributes.user.password_confirmation")
    =f.submit I18n.t "activerecord.actions.user.create_new_password"
  
  %div.message
    Caso ainda não tenha uma conta no medibooking.com,  
    =link_to 'registe-se aqui.', new_user_path
    
  %div.message
    Se prentende registar o seu negócio no medibooking.com faça-o  
    =link_to 'aqui.', new_user_path(:role=>User::BUSINESS_OWNER)
  

