= title "Criar nova password"
= more_stylesheets "forms"



#formContainer
  %h1 Criar nova password 
  %div
    Está prestes a alterar a sua actual password. Foi-nos feito um pedido para que alterasse a sua password. Case não tenha feito este 
    pedido e sabe qual é a sua actual password, pode fazer autenticar-se 
    =link_to "aqui", new_session_path
    
  =render :partial =>"users/change_password_form", :locals=>{:user=>@user, :url=>create_new_password_path, :label=>"activerecord.actions.user.create_new_password"}
  
  %div.message
    Caso ainda não tenha uma conta no medibooking.com,  
    =link_to 'registe-se aqui.', new_user_path
    
  %div.message
    Se prentende registar o seu negócio no medibooking.com faça-o  
    =link_to 'aqui.', new_user_path(:type=>BusinessAdmin.name)
  

