= title "Criar nova password"
= more_stylesheets "forms"

#form_wrapper
  %h1
    Alterar password 
  %h2
    Altere aqui a sua password
  #form_container
    =render :partial =>"users/change_password_form", :locals=>{:user=>@user, :url=>create_new_password_path, :label=>"activerecord.actions.user.create_new_password"}
  .help_float_box
    %h1
      Alterar password
    %p
      Está prestes a alterar a sua password. Isto é necessário por uma das seguintes razões:
      %ul
        %li
          Pediu para alterar a sua password.
        %li
          Foi criada uma conta de colaborador e necessita de introduzir a password a primeira vez
    %p 
      Caso esteja a ver esta página por nenhuma das razões anteriores e souber a sua password, pode
      ignorar esta página.
    %p
      Caso saiba a sua password e deseje fazer login, 
      =link_to "faça-o", new_session_path
    %p
      Caso ainda não tenha uma conta no medibooking.com,  
      =link_to 'registe-se aqui.', new_user_path
    
    %p
      Se prentende registar o seu negócio no medibooking.com faça-o  
      =link_to 'aqui.', new_business_admin_path
  

