= title "Novo utilizador"
= more_stylesheets "forms"

-header = "Registar novo utilizador" if @user.class.name==User.name
-header = "Registar novo gestor de negócio" if @user.class.name==BusinessAdmin.name

#form_wrapper
  %h1
    =header 
  %h2
    Todos os campos marcados com * são obrigatórios
  #form_container
    =simple_form_for @user do |f|
      =f.input :first_name
      =f.input :last_name
      =f.input :email
      =f.input :email_confirmation, :required=>true
      =f.input :password
      =f.input :password_confirmation, :required=>true
      =f.input :terms_and_conditions, :as=>:boolean
      = f.submit I18n.t "activerecord.actions.user.create"
  .help_float_box
    %h1
      =header
    %p
      =raw "Caso já tenha uma conta no medibooking.com, identifique-se #{link_to 'aqui', new_session_path}"
   
      
  
  
  

