= title "Recuperar password"
= more_stylesheets "forms"



#formContainer
  %h1 Recuperar password 
  %div
    Introduza o email que usou para se registar no medibooking.com. Vamos enviar-lhe por email as instruções para recuperar a sua password.
    
  =simple_form_for :reset_password do |f|
    =f.input :email, :label=>I18n.t("activerecord.attributes.user.email")
    =f.submit I18n.t "activerecord.actions.user.recover_password"
  
  %div.message
    Caso ainda não tenha uma conta no medibooking.com,  
    =link_to 'registe-se aqui.', new_user_path
    
  %div.message
    Se prentende registar o seu negócio no medibooking.com faça-o  
    =link_to 'aqui.', new_user_path(:type=>BusinessAdmin.name)
  

