-if flash[:notice]
  #notice_message
    %div.page_message
      =flash[:notice]
    %div.page_message_close
      =link_to_function 'X', 'flash_messages.close_notice()'

      
-if flash[:error]
  #floating_message_wrapper.error
    %div.page_message
      %strong
        =flash[:error]   
    %div.page_message_close
      =link_to_function 'X', 'flash_messages.close()'


-if flash[:success]
  #floating_message_wrapper.success
    %div.page_message
      %strong
        =flash[:success]   
    %div.page_message_close
      =link_to_function 'X', 'flash_messages.close()'



-if flash[:warning]
  #floating_message_wrapper.warning
    %div.page_message
      %strong
        =flash[:warning]   
    %div.page_message_close
      =link_to_function 'X', 'flash_messages.close()'

:javascript
  $("#floating_message_wrapper").trigger('float_message:loaded');
  
  