-if flash[:error]
  #floating_message_wrapper.error
    #page_message
      %strong
        =flash[:error]   
    #page_message_close
      =link_to_function 'X', 'flash_messages.close()'


-if flash[:success]
  #floating_message_wrapper.success
    #page_message
      %strong
        =flash[:success]   
    #page_message_close
      =link_to_function 'X', 'flash_messages.close()'



-if flash[:warning]
  #floating_message_wrapper.warning
    #page_message
      %strong
        =flash[:warning]   
    #page_message_close
      =link_to_function 'X', 'flash_messages.close()'

:javascript
  $("#floating_message_wrapper").trigger('float_message:loaded');
  
  