-if @current_user
  %strong=@current_user.email
  %span 
    | 
    =link_to 'Terminar Sessão', :delete_session, {:method=>:delete}
    |
  =link_to "A minha conta", :user_profile
  -if @current_user.business_admin?
    |
    =link_to "Dashboard", business_dashboard_path(@current_user.business_account)
-else
  %span 
    =link_to 'Inicial Sessão', :new_session
    |
  =link_to "Criar conta", :new_user