@import "partials/base"
@import "partials/frontpage"
@import "partials/lists"


//drop down menus
.ddm
  
  .ddm_title
    
    font-size: 1em
    font-weight: bold
    text-align: right
    padding-right: 14px
    padding-left: 6px
    background: url("../images/drop_down_arrow.gif") no-repeat right
    cursor: pointer
    display: block
  
  ul
    display: none
    list-style-type: none
    margin: 0
    padding: 2px
    background-color: #F7F7F7
    border: solid 1px #ccc
    li
      padding: 2px
      a
        color: #000
        text-decoration: none
        padding: 2px
        display: block
      a:hover
        background-color: #ddd


//Move this
#full_content
  padding: 10px
  #content
    padding-top: 10px
    clear: both
      
div.dashboard_header
  border-bottom: solid 1px #ccc
  margin-bottom: 0px
  height: 25px
  div.title
    font-size: 1.3em
    font-weight: bold
    float: left
  div.options
    float: right
    padding: 2px
      
      
div.context_horizontal_menu
  height: 34px
  background: #E7EEF1
  margin-bottom: 10px

  div.right_menu, div.left_menu
    margin-top: 8px
    float: left
    ul
      margin: 0px
      padding: 0px
      list-style: none
      li
        margin: 0px
        display: inline  
        a
          color: #000
          margin: 0px
          text-decoration: none
          padding: 8px
        a:hover
          background: #fff
          border-bottom: solid 2px #ccc
        a.selected
          border-bottom: solid 8px #ccc
          padding-bottom: 0px
          background: #fff
          font-weight: bold
  div.left_menu
    float: right
   