@import "partials/base"
@import "partials/frontpage"



//Move this
#settings
  padding: 10px
  h1
    font-size: 1.3em
    
    margin-bottom: 5px
    border-bottom: solid 1px #ccc
  
  #options
    span
      padding-right: 10px
      a
        
    span.selected
      font-weight: bold
      font-size: 1.1em
  #content
    padding-top: 10px
        