#sub_menu
  =link_to "Mostrar excepções", "#", :class=>"link_as_button action_calendar_exceptions", :id=>"config_exceptions_bt"
  
  #exceptions_container{:style=>"margin-top:10px; display:none"}
    Aqui pode definir as datas que 
  #ccontainer{:style=>"margin-top:10px"}
  
     
