=simple_form_for [@current_user, staffer], :remote=>true do |f|
  =f.input :first_name
  =f.input :last_name
  =f.input :email
  =f.input :phone
  =f.input :address
  =f.input :postal_code, :hint=>t("activerecord.hints.generic.postal-code")
  =f.input :city
  
  = f.submit t "actions.update"
  =link_to "Cancelar", business_admin_staffer_path(@current_user, staffer), :remote=>true
