%table.data_table{:border=>"0px", :cellspacing=>"0px"}
  %thead
    %tr
      %td{:width=>"180px"}
        =link_to "Nome", ""
      %td{:width=>"240px"}
        =link_to "Email", ""
      %td.last_cell
        =link_to "Activo", ""
          
  -i=0      
  -staffers.each do | staffer| 
    -i+=1
    -class_name = (i==staffers.size ? "last_row" : "middle_row")
  
    %tr{:class=>class_name}
      %td=link_to staffer.full_name, business_admin_staffer_path(@current_user, staffer)
      %td=staffer.email
      %td.last_cell=boolean_to_yes_no(staffer.active)
