= title "Dashboard do colaborador"
= more_stylesheets "forms"

#full_content
  =render :partial=>"users/profile_menu"  
  #content   
    #user_basic_info
      Dash board
      /=render :partial=>"staffers/dashboard", :object=>@staffer    
      
      
            
  