%div.dashboard_header
  %div.title
    #{@staffer.full_name}

.context_horizontal_menu      
  .right_menu
    %ul
      %li
        =link_to "Informação", business_admin_staffer_path(@current_user, @staffer), :class=>(request.env['PATH_INFO'] == business_admin_staffer_path(@current_user, @staffer)) ? "selected" : ""
      
  .left_menu
    %ul
      %li
        =link_to "Voltar ao dashboard", business_admin_staffers_path(@current_user)    
  
