%table.record
  %tr
    %td.label
      =t "activerecord.attributes.user.first_name" 
    %td.value
      =staffer.first_name
  %tr
    %td.label
      =t "activerecord.attributes.user.last_name" 
    %td.value
      =staffer.last_name
  %tr
    %td.label
      =t "activerecord.attributes.user.email" 
    %td.value
      =staffer.email
  %tr
    %td.label
      =t "activerecord.attributes.user.phone" 
    %td.value
      =staffer.phone

  %tr
    %td.label
      =t "activerecord.attributes.user.address" 
    %td.value
      =staffer.address
  %tr
    %td.label
      =t "activerecord.attributes.user.postal_code" 
    %td.value
      =staffer.postal_code

  %tr
    %td.label
      =t "activerecord.attributes.user.city" 
    %td.value
      =staffer.city


  %tr
    %td.label
      =t "activerecord.attributes.user.active" 
    %td.value
      =boolean_to_yes_no(staffer.active)


  %tr
    %td.label
      =t "activerecord.attributes.user.created_at" 
    %td.value
      =l staffer.created_at
    %tr
      %td.label
      %td.value
        =link_to I18n.t("activerecord.actions.user.edit"), edit_business_account_staffer_path(@current_user.business_account, staffer), :remote=>true, :class=>"link_as_button"
        =link_to I18n.t("actions.remove"), [@current_user.business_account, staffer], :confirm=>t("activerecord.messages.staffer.remove_confirmation"), :class=>"link_as_button danger_button",  :method => :delete
        
