= title "Colaborador : "+@staffer.full_name
= more_stylesheets "forms"
= more_javascripts_files "businesses_functions"

#full_content
  =render :partial=>"staffer_dashboard_menu", :locals=>{:staffer=>@staffer}
  #content
    #staffer_info.has_help_float_box
      =render :partial=>"staffer", :object=>@staffer
    -if !@staffer.active
      .help_float_box
        %h1
          Colaborador inactivo
        %p Este colaborador ainda não activou a sua conta. 
        %p Pode enviar um email de activação agora.
        %p= link_to "Enviar um mail de activação",send_activation_email_path(@current_user.business_account, @staffer), :class=>"link_as_button", :remote=>true, :method=>:put

